/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Karla', sans-serif;
    font-size: 16px;
}
h1,h2,h3,h4{
    font-family: 'DM Serif Display', serif;
}
.max-width{
    max-width: 1440px;
    padding: 0 150px;
    margin: 0 auto;
}

.home{
    height: 65vh;
    width: 100vw;
    background-color:  hsl(256, 26%, 20%);
    background-image: url(../images/bg-pattern-intro-left-desktop.svg),url(../images/bg-pattern-intro-right-desktop.svg);
    background-position: left 420px, top right;
    background-repeat: no-repeat;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 150px;
    z-index: 2;
    background-color: hsl(0, 0%, 98%);
    margin: 0 -150px;
}
.navbar .logo{
    cursor: pointer;
    color: hsl(256, 26%, 20%);
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    padding-left: 20px;
    font-weight: 700;
    
}
.navbar ul li:last-child{
    border: 2px solid hsl(256, 26%, 20%);
    padding: 10px 25px;
    margin-left: 20px ;
    color: hsl(256, 26%, 20%);
    
}
.navbar ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: hsl(273, 4%, 51%);
}
.navbar ul li a:hover{
    color:hsl(256, 26%, 20%);
    transition: all .3s ease;
}


.home .hero-content{
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    width: 50%;
    color: hsl(0, 0%, 98%);;
}
.hero-content .hero-title{
    position: relative;
    font-weight: 400;
    font-size: 3.9rem;
    color: hsl(0deg, 0%, 98%);
    line-height: 3.5rem;
}
.hero-content .hero-title::before,
.about-title::before{
    content: '';
    position: absolute;
    height: 2px;
    width: 150px;
    top: -70px;
    left: 0%;
    background-color: hsl(273, 4%, 51%);
}

.hero-content p{
    padding-top: 20px;
    color: hsl(0deg, 0%, 98%);
    line-height: 1.5;
}

.hero-content a{
    margin-top: 40px;
    padding: 10px 20px;
    border: 1px solid hsl(0deg, 0%, 98%);
    width: 150px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    color: hsl(0deg, 0%, 98%);
    letter-spacing: .5px;
    text-transform: uppercase;
}
.hero-content a:hover{
    background-color: hsl(0deg, 0%, 98%);
    color: hsl(256, 26%, 20%);
    transition: all .3s ease;
}

.photo{
    position: relative;
    width: 400px;
}
.photo img{
    width: 100%;
    position: absolute;
    left: 550px;
    top: 100px;
}


.about{
    margin-top: 200px;
    
}

.about-title{
    position: relative;
    margin-bottom: 100px;
    font-size: 3rem;
    color: hsl(256, 26%, 20%);
}

.about-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin: 50px 0;
}
.about-content h2{
    padding: 15px 0;
    color: hsl(256, 26%, 20%);
}

.about-content p{
    color: hsl(273, 4%, 51%);
}




.work-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 200px 0 200px 0;
    background-color: hsl(256, 26%, 20%);
    color: hsl(0deg, 0%, 98%);
    padding: 40px 40px;
    background-image: url(../images/bg-pattern-how-we-work-desktop.svg);
    background-repeat: no-repeat;
    background-position: right;
}

.work-title{
    font-size: 1.5rem;
    line-height: -3.5;
}

.work-content .btn{
    outline: none;
    padding: 10px 35px;
    background: transparent;
    border: 1px solid hsl(0deg, 0%, 98%);
    color: hsl(0deg, 0%, 98%);
    text-transform: uppercase;
    letter-spacing: .5px;
    font-weight: 700;
    
}
.work-content .btn:hover{
    transition: all .3s ease;
    color: hsl(256, 26%, 20%);
    background-color: hsl(0deg, 0%, 98%);
}

footer header{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid hsl(273, 4%, 51%);;
    opacity: .5;
    color: hsl(273, 4%, 51%);
}

footer header span{
    padding: 0 10px;
    font-size: 18px;
}
footer header span:hover{
    color: black;
    transition: all .3s ease;
}


.footer-content{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 50px;
    text-transform: uppercase;
}

.footer-content h3{
    padding-bottom: 20px;
    margin-left: 10px;
    font-size: 16px;
    color: hsl(273, 4%, 51%);
    font-family: 'Karla', sans-serif;
    
}

.footer-content ul{
    list-style: none;
    margin-bottom: 40px;
    
}

.footer-content ul li {
    font-size: 18px;
    font-weight: 400;
    padding: 7px;
}

